<launch>
    <include file="$(find gantry_control)/launch/motor.launch">
        <arg name="axis" value="x" />
    </include>
    <include file="$(find gantry_control)/launch/motor.launch">
        <arg name="axis" value="y" />
    </include>
    <include file="$(find gantry_control)/launch/motor.launch">
        <arg name="axis" value="z" />
    </include>
</launch>
